* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #fafafa;
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    margin-bottom: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: white;
}

div{
    display: inline-block;
}

.navbar-title{
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-title{
    font-size: 55px;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    color: rgb(39, 39, 80)
}

.section-text {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 280;
    color: rgb(39, 39, 80);
}

#landing-page-content {
    padding-right: 250px;
}

#landing-page-image img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid rgb(39, 39, 80)
}

.section-button{
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: rgb(39, 39, 80);
    line-height: 120px;
    font-size: 23px;
    padding: 12px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 30px;
    font-weight: bold;
}

.section-button:hover{
    transition: 0.5s;
    color:grey;
}

.section-content-home{
    display: flex;
}

.section-content p, label{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.text{
    background: rgb(39, 39, 80);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1500px;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px;
}

.participantes{
    display: flex;
    justify-content: center;
    padding: 15px;
    justify-content: space-between;
}

#foto-participante p{
    text-align: center;
}

#foto-participante img{
    object-fit: cover;
    width: 130px;
    height: 130px;
    border: 3px solid rgb(21, 13, 58);
    border-radius: 50%;
}

.section-subtitle{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}

#section-content-1{
    max-width: 800px;
}

#section-content-2{
    max-width: 800px;
    padding-left: 20px;
}

#section-content-3{
    max-width: 800px;
}

input[type=number]{
    border: 3px solid rgb(21, 13, 58);
    background: white;
    width: 100px;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border-radius: 4px;
}

label, input{
    display: block;
    margin-bottom: 10px;
}

select{
    display: block;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    background-color: white;
    border: 3px solid rgb(39, 39, 80);
    height: 40px;
    width: 200px;
}

button{
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: white;
    border: 3px solid rgb(39, 39, 80);
    color: rgb(39, 39, 80); 
    height: 50px;
    width: 120px;
}

h2{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}

.section-content-calc{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#section-content-2-calculadora{
    margin-left: 20px;
    margin-right: 20px;
}

.image-menu img{
    width: 350px;
    height: 350px;
    position: absolute;
}

#image-item {
    position: relative;
    top: 0;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#image-item:hover{
    top: -4px;
    transition: all .2s ease-in-out;
}

.image-menu {
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
}

.image label{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: rgb(39, 39, 80);
}

.section-content a{
    color: rgb(170, 182, 235);
}
