.navbar-title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-style: bold;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 20px 400px;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgb(39, 39, 80);
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.navbar-title{
    font-size: 20px;
    font-weight: 600;
}

.navbar-menu {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-link {
    transition: 0.5s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:white;
    text-decoration: none;
}

.navbar-link:hover{
    color:grey;
}